<footer>
  <div class="social-link">
    <ul class="social-link-list">
      <li>
        <a href="#"
          ><img
            src="../../assets/icon-facebook.svg"
            alt="faceboook"
            class="facebook"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            src="../../assets/icon-youtube.svg"
            alt="youtube"
            class="youtube"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            src="../../assets/icon-twitter.svg"
            alt="twitter"
            class="twitter"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            src="../../assets/icon-pinterest.svg"
            alt="pinterest"
            class="pinterest"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            src="../../assets/icon-instagram.svg"
            alt="instagram"
            class="instagram"
        /></a>
      </li>
    </ul>
  </div>

  <ul class="ft-nav">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">FAQ's</a></li>
  </ul>
  <ul class="ft-other-nav">
    <li><a href="#">Support</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">Privacy Policy</a></li>
  </ul>
</footer>
