<nav class="navbar">
  <button class="btn btn-secondary btn-sm m-3" (click)="sortAlphabetically()">
    Sort Alphabetically
  </button>
  <input
    class="form-control"
    type="text"
    name="place"
    [(ngModel)]="place"
    (ngModelChange)="search()"
    placeholder="Enter place to search...."
  />
</nav>

<table class="table">
  <thead>
    <tr>
      <td>Place</td>
      <td>Total Cases</td>
      <td>Active Cases</td>
      <td>Total Recovered</td>
      <td>Total Deaths</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of differentLocations">
      <td>{{ location.place }}</td>
      <td>{{ location.totalCases }}</td>
      <td>{{ location.activeCases }}</td>
      <td>{{ location.totalRecovered }}</td>
      <td>{{ location.totalDeaths }}</td>
    </tr>
  </tbody>
</table>
