<nav class="navbar" *ngIf="covidData$ | async as data">
  <button class="btn btn-secondary btn-sm m-3" (click)="sortAlphabetically()">
    Sort Alphabetically
  </button>
  <input
    class="form-control"
    type="text"
    name="place"
    [(ngModel)]="place"
    placeholder="Enter place to search...."
  />
</nav>

<table class="table">
  <thead>
    <tr>
      <td>PLACE</td>
      <td>TOTAL CASES</td>
      <td>ACTIVE CASES</td>
      <td>TOTAL RECOVERED</td>
      <td>TOTAL DEATHS</td>
    </tr>
  </thead>
  <tbody *ngIf="covidData$ | async as data">
    <tr
      *ngFor="
        let location of data[index].differentlocations
          | filter: place
          | sort: doSort
      "
    >
      <td>{{ location.place }}</td>
      <td>{{ location.totalCases }}</td>
      <td>{{ location.activeCases }}</td>
      <td>{{ location.totalRecovered }}</td>
      <td>{{ location.totalDeaths }}</td>
    </tr>
  </tbody>
</table>
