table {
  width: 90%;
  border: 3px solid gray;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 50px;
  background: linear-gradient(45deg, #c3ec52, #0ba29d);
  font-size: 16px;
  font-weight: lighter;
}
nav {
  justify-content: normal;
  margin-left: 50px;
}
input {
  margin-top: 5px;
  width: 30%;
  margin-left: auto;
  margin-right: 65px;
}
tbody,
td,
thead,
tr {
  border-style: none;
}

thead tr td {
  font-weight: 400;
}
